
  .container-teatro {

  
  .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
    
  }
  
  .container .list .list-card{
    width: 250px;
    height: 30%;
    background-color: #ffffff;
    /* background-color: blue; */
    margin: 15px;
    border-radius: 10px;
  }
  
  .container .list .list-card img {

    height: 150px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .container .list .list-item .content .titulo{
    font-size: 3em;
    font-weight: 400;
    line-height: 1.3em;
  }
  
  .container .list .list-item .content .descript{
    font-size: 2.5em;
  }

  .container .list .list-card .content .button {
      display:none;
    & h4{
        display: none;
    }
  }

  }